<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleados</servlet-name>
        <servlet-class>Servlets.ControlEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEstadisticas</servlet-name>
        <servlet-class>Servlets.ControlEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlNovedadesEmpleado</servlet-name>
        <servlet-class>Servlets.ControlNovedadesEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlModulosPerfil</servlet-name>
        <servlet-class>Servlets.ControlModulosPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlResponsableGrupo</servlet-name>
        <servlet-class>Servlets.ControlResponsableGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUsuarios</servlet-name>
        <servlet-class>Servlets.ControlUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadosGrupo</servlet-name>
        <servlet-class>Servlets.ControlEmpleadosGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPerfil</servlet-name>
        <servlet-class>Servlets.ControlPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReportes</servlet-name>
        <servlet-class>Servlets.ControlReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConfiguracion</servlet-name>
        <servlet-class>Servlets.ControlConfiguracion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/logear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleados</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEstadisticas</servlet-name>
        <url-pattern>/estadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlNovedadesEmpleado</servlet-name>
        <url-pattern>/controlnovedadesempleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlModulosPerfil</servlet-name>
        <url-pattern>/controlmodulosperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlResponsableGrupo</servlet-name>
        <url-pattern>/controlresponsablegrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUsuarios</servlet-name>
        <url-pattern>/controlusuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadosGrupo</servlet-name>
        <url-pattern>/controlempleadosgrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPerfil</servlet-name>
        <url-pattern>/controlperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReportes</servlet-name>
        <url-pattern>/controlreportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConfiguracion</servlet-name>
        <url-pattern>/controlconfiguracion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
