/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/09/2019, 11:50:06 AM
    Author     : PRACTICANTE
*/

.ingreso {
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.padre {
    display: flex;
    justify-content: center;
}
.hijo {

    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

.container { 
  height:800px;
  position: relative;
  border: 3px solid green; 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container1 { 
    height: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid green; 
}