<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Lista Costos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="../static/css/bootstrap.css" rei="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>
    <body>
        <div class="container">
            <br>
            <div>
                <a href="/save/1" class="btn btn-primary">Guardar</a>
            </div>
                <h2 th:if="${list.isEmpty()}">No hay costos Guardados</h2>
                <div th:if="${!list.isEmpty()}">
                    <h2>Costos</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Estado Activo</th>
                                <th>Estado Inactivo</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="CentroDeCostos : ${list}">
                                <td th:text="${CentroDeCostos.nombre}"></td>
                                <td th:text="${CentroDeCostos.estadoa}"></td>
                                <td th:text="${CentroDeCostos.estadoin}"></td>
                                <td><a class="btn btn-info" th:href="@{/save/{id}(id=${CentroDeCostos.id})}">Editar</a></td>
                                <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${CentroDeCostos.id})}">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </body>
</html>
