<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Tipo de novedad</title>
    </head>
    <body>

        <div class="container">
            <br>
            <div th:if="${list.isEmpty()}">
                <h2> No hay registros de tipos de novedades</h2>
                <br>
                <a href="/savetiponov/0" class="btn btn-primary">Agregar</a>
            </div>
            <div th:if="${!list.isEmpty()}">
                <h2>Tipo de novedad</h2>
                <table class="table">
                    <thead>                        
                        <tr>
                            <th>Descripción</th>
                            <th>Estado</th>  
                            <th></th> 
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ListaTipoNovedad : ${list}">
                            <td th:text="${ListaTipoNovedad.descripcion}"></td>
                            <td th:text="${ListaTipoNovedad.estado}"></td>
                            <td><a th:href="@{/deletetiponov/{id}(id=${ListaTipoNovedad.id})}">Eliminar</td>
                            <td><a th:href="@{/savetiponov/{id}(id=${ListaTipoNovedad.id})}">Editar</td>
                        </tr>                      
                    </tbody>
                </table>
                <div>
                    <a href="/save/0" class="btn btn-primary">Agregar</a>
                </div>

            </div>

        </div>
    </body>
</html>
