<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ServiSoft S.A</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <LINK REL=StyleSheet HREF="style.css">
</head>
<body>
    <div class="contenedor">
<div class="menu" id="uno">
        <img class="icono" src="pictures/icon2.png" alt="icono">
        <p class="texto">Nomina</p>
        
</div>
<div class="menu" id="dos">
        <img class="icono" src="pictures/icon7.png" alt="icono">
        <p class="texto">Contabilidad</p>
</div>
<!-- <div class="menu" id="tres">
        <img class="icono" src="pictures/icon3.png" alt="icono">
        <p class="texto">texto</p>
</div>
<div class="menu" id="cuatro">
        <img class="icono" src="pictures/icon4.png" alt="icono">
        <p class="texto">texto</p>
</div>
<div class="menu" id="cinco">
        <img class="icono" src="pictures/icon5.png" alt="icono">
        <p class="texto">texto</p>
</div>
<div class="menu" id="seis">
        <img class="icono" src="pictures/icon6.png" alt="icono">
        <p class="texto">texto</p>
</div> -->



    </div>
    
</body>
</html>