<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Listado de usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Id Usuario</th>
                    <th>Id Empleado</th>
                    <th>Id Perfil</th>
                </tr>            
            </thead>

            <tbody th:each="usuario:${usuarios}">
                <tr>
                    <td th:text="${usuario.idusuario}"></td>
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.idperfil}"></td>
                    <td>
                        
                        <input type="button" class="btn btn-primary" value="Editar" th:onclick="'window.location.replace(\'./editar/' + ${usuario.id} + '\');'" />
                        <!-- <input type="button" class="btn btn-danger" value="Desactivar"  /> -->
                    </td>                    
                </tr>
        </tbody>
    </table>
        <input type="button" class="btn btn-primary" value="Crear" th:onclick="window.location.replace('./usuario/registrarse');" />



</body>
</html>
