<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Acceso</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" />

</head>

<body>


  <div class="login-card">
    <h1>Acceso <img class="candado"  src="../static/imgs/candado.png"></h1><br>
     
  <form>
    <input type="text" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="login" class="login login-submit" value="Acceder">
  </form>

  <div class="login-help">
    <a href="#">Forgot Password</a>
  </div>
</div>


</body>

</html>