<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guardar tipo de novedad</title>
    </head>
     
    <body>
        <div>
            <form action="#" th:action="@{/save}" th:object=${tipo_novedad} method="post"></form>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">           
        </div>
        <button type="submit" class="btn-btn-success">Guardar</button>
        
    </body>
</html>
