<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Guardar tipo de novedad</title>

    </head>

    <body>
        <div class="container">
            <form action="#" th:action="@{/savetiponov}" th:object=${tipo_nov} method="post">
                <input type="hidden" id="id" th:field="*{id}" th:if="${(id_tipo_novx == null)}" >
                <input type="hidden" id="id" name="id" th:value="${id_tipo_novx}" th:if="${(id_tipo_novx != null)}" >
                <div>
                    <h2>Guardar tipo de novedad</h2> 
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" name="descripcion">
                    </div>
                <div>
                    <label for="descripcion">Estado</label>
                    <input type="checkbox" class="form-control" id="estado" th:field="*{estado}" name="estado">  
                </div>
                <button type="submit" class="btn-btn-success">Guardar</button>
            </form>
        </div>
    </body>
</html>
