<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Costos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="../static/css/bootstrap.css" rei="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>
    <body>
        <div class="container">
            <form action="#" th:action="@{/save}" class="form-group" th:object="${CentroDeCostosx}" method="post">
                <input type="hidden" id="id" th:field="*{id}" th:if="${(IdDelCentroDeCostosx == null)}" >
                <input type="hidden" id="id" name="id" th:value="${IdDelCentroDeCostosx}" th:if="${(IdDelCentroDeCostosx != null)}" >                
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
                </div>
                
                <div class="form-group">
                    <label for="nombre">Estado Activo</label>
                    <input type="text" class="form-control" id="estadoa" th:field="*{estadoa}" name="estadoa">
                </div>
                
                <div class="form-group">
                    <label for="nombre">Estado Inactivo</label>
                    <input type="text" class="form-control" id="estadoin" th:fiedl="*{estadoin}" name="estadoin">
                </div>
                <button type="submit" class="btn btn-sucess">Guardar</button>
            </form>
        </div>
    </body>
</html>
