<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        
        <title>Crear Empleado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <style>
            textarea {text-transform: uppercase;}
        </style>
        
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       
    </head>
    <script>
        function soloLetras(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = "8-37-39-46";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }
    
    function soloNumeros(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = "0123456789";
       especiales = "8-37-39-46";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }
    </script>
    
    
    <body>
         <div class="container">
            <form action="#" th:action="@{/GuardarEmpleados}" class="form-group" th:object="${IdEmpleado}" method="post">
                <input type="hidden" id="id" th:field="*{id_empleado}" th:if="${(IdDelEmpleado == null)}"> 
                <input type="hidden" id="id" name="id" th:value="${IdDelEmpleado}" th:if="${(IdDelEmpleado != null)}">
                <div class="form-group">
                    
                    <label for="tipo_documento">Tipo de Documento</label>
                    <br>
                    <input type="text" class="form-comtrol" id="tipoDocumento" th:field="*{tipo_documento}" required onkeypress="return soloLetras(event)">
                    <br>
                    <label for="documentoEmpleado">Documento</label>
                    <input type="text" class="form-control" id="documentoEmpleado" th:field="*{documentoEmpleado}" required onkeypress="return soloNumeros(event)">
                                        
                    <label for="nombreEmpleado">Nombre Completo</label>
                    <input type="text" class="form-control" id="nombreEmpleado" th:field="*{nombreEmpleado}" required onkeypress="return soloLetras(event)">
                    
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" th:field="*{telefono}" onkeypress="return soloNumeros(event)">
                    
                    <label for="id_costos">Id Costos</label>
                    <input type="text" class="form-control" id="costos" th:field="*{id_costos}" onkeypress="return soloNumeros(event)">
                    
                    <label for="id_cargo">Cargo</label>
                    <input type="text" class="form-control" id="cargo" th:field="*{id_cargo}" required onkeypress="return soloNumeros(event)">
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </body>
</html>
